<section class="users-section">
  <%= render 'partials/friends'%>
  <%= render 'partials/pending_requests' %>
  <%= render 'partials/received_requests' %>

  <div class="other_user">
    <h3>Other Users</h3>
    <ul class="users-list">
      <% @users.each do |user| %>
        <% unless user.name == current_user.name %>
          <% if current_user.viable_friend?(user) %> 
            <li>
              <%= user.name %>
              <span class="profile-link">
                <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>              
                  <%= link_to user_friendships_path(user), method: :post, data: {confirm: "Are you sure you want to add this friend?" } do %>
                    <button>Add Friend</button>
                  <% end %>
              </span>
            </li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>
</section>
